/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------
Grid
---------- */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container,
.grid {
	margin: 0 auto;
	width: 960px;
}

.grid__quarter,
.grid__third {
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	vertical-align: top;
}

.grid__quarter {
	width: 25%;
}

.grid__third {
	width: 33%;
}

/* ----------
Clearfix
---------- */
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/* ----------
Typography
---------- */

a {
	text-decoration: none;
}

h1, h2, p {
	margin-bottom: 22px;
}

h1, h3, h5 {
	font-family: cinzel, trajan, georgia, serif;
}

h2, h4, p {
	font-family: raleway, 'helvetica neue', helvetica, arial, sans-serif;
}

h1 {
	font-size: 44px;
	line-height: 56px
}

h2 {
	font-size: 30px;
	letter-spacing: .25em;
}

h3 {
	font-size: 22px;
	text-align: center;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

h5 {
	font-size: 14px;
	font-weight: bold;
}

h2, h4 {
	font-variant: small-caps;
}

hr {
	border-style: solid;
	color: #D9E8F5;
	margin-bottom: 22px;
	margin-top: 22px;
}





/* ----------
Buttons
---------- */

.btn {
	background-color: #F26101;
	background: linear-gradient(#F26101, #FF6601);
	border-radius: 5px;
	color: white;
	display: inline;
	font-family: raleway, 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
}

.btn--subtle {
	background: none;
	border: 1px solid #D9E8F5;
}

.btn--subtle:hover {
	background-color: red;
}

/* ----------
Body
---------- */

.topper {
	background-color: #304269;
	background: linear-gradient(to right, #304269, #91BED4);
	min-height: 11px;
}

.content-box .topper{
	margin-left: -22px;
	margin-right: -22px;
	position: relative;
	top: -20px;
}

.hero {
	background-color: #304269;
	background: linear-gradient(to right, #304269, #91BED4);
	color: #FFF;
	margin-bottom: 44px;
	min-height: 444px;
	padding: 111px 88px 22px 88px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.content-box {
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;
}

header {
	padding-top: 22px;
}

footer {
	background-color: #304269;
	margin-top: 44px;
	padding-top: 44px;
}

.copyright {
	float: left;
	padding: 44px 0;
}

.logo {
	float: left;
}

.support {
	float: right;
}

/*.content-box {
	background-color: #D9E8F5;
}*/

footer .content-box {
	background: none;
	color: white;
}

/* ----------
Navigation
---------- */
nav {
	background-color: #F26101;
	background: linear-gradient(#F26101, #FF6601);
	border-radius: 22px;
	font-size: 16px;
	margin: 0 auto;
	padding: 0 22px;
	position: relative;
	top: 22px;
	width: 960px;
}

.nav__btn {
	background: none;
	padding: 12px 22px;
	line-height: 44px;
}

.nav__btn:hover {
	background-color: white;
	color: #F26101;
}
